header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary);
  width: 100%;
  letter-spacing: 3px;
  margin: 0;
  padding: 0rem 1rem;
  font-family: "Coolvetica";
  transition: all 0.3s;
  cursor: pointer;

  .title-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    margin-left: 2rem;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 2rem;
  }

  .logo {
    width: 200px;
    height: 100px;
    border-radius: 10px;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    .dropdown-content {
      display: none;
      position: absolute;
      padding: 1rem;
      top: 60%;
      left: 30%;
      background: var(--secondary);
      box-shadow: var(--global);
    }

    .dropdown-content a {
      color: #000;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .dropdown:hover .dropdown-content {
      display: block;
      animation: fadeIn 1s forwards;
    }

    a {
      text-align: center;
      line-height: 40px;
      font-size: 1.1rem;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        color: var(--oposite);
      }
    }
  }
}

.mobile-icon,
.hamburger,
.close-icon {
  display: none;
}

@media screen and (max-width: 920px) {
  header {
    padding: 0.5rem;

    .logo {
      display: block;
      margin-top: 0px;
      width: 75px;
    }

    nav {
      display: none;
    }

    nav {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      background: var(--secondary);
      padding-top: 30px;
      padding-right: 40px;
      gap: 2rem;
      z-index: 2;

      .mobile-icon {
        display: block;
        font-size: 24px;
      }

      &.mobile-show {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 5rem 0;
        height: 100vh;
        animation: bounceInRight 1s;
        .text {
          text-align: center;
          display: block;
          font-size: 24px;
        }
        .menu-container {
          display: flex;
          align-items: center;
          width: 200px;
          gap: 20px;
        }
      }
    }
  }

  .navbar-scroll {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 24px;
  }

  .close-icon {
    display: block;
    position: absolute;
    right: 35px;
    top: 2.5%;
    font-size: 24px;
  }
}
