.work-card-container {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;

  .card {
    &:hover {
      transform: scale(1.03);
    }
  }

  .card-image {
    width: 125px;
    padding: 1rem;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    gap: 1rem;
    max-width: 400px;
    background: var(--primary);
    padding: 2rem;
    box-shadow: var(--global-shadow);

    h2 {
      text-transform: uppercase;
    }

    p {
      margin: 0;
      text-align: center;
    }

    a {
      color: var(--oposite);

      &:hover {
        color: var(--secondary);
      }
    }
    ul {
      font-weight: 600;
      padding: 0 2rem;
      line-height: 30px;
    }

    button {
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 1050px) {
  .work-card-container {
      flex-wrap: wrap;
  
      .card-image {
        width: 100px;
        padding: 0rem;
      }
    }
}

@media screen and (max-width: 920px) {
  .work-card-container {
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .card-image {
      width: 75px;
      padding-bottom: 1rem;
    }

    .text-container {
      gap: 0rem;
      max-width: 300px;
      padding: 1rem;

      h2 {
        text-transform: uppercase;
      }

      p {
        font-size: 14px;
      }

      ul {
        font-weight: 500;
        padding: 0rem;
        line-height: initial;
        list-style: none;
        text-align: center;
      }

      button {
        margin-top: 1rem;
        width: 200px;
      }
    }
  }
}
