.call-to-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem;
  padding: 2rem 1rem;
  background: var(--primary);
  box-shadow: var(--global-shadow);

  .text-container {
    .cta-title {
      margin: 0;
      padding: 0rem 4rem;
      font-size: 3rem;
    }

    .cta-p {
      font-weight: 600;
      margin: 2rem 4rem;
    }
  }

  .btn-container {
    display: flex;
    width: 50%;
    height: 40%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1050px) {
  .call-to-action {
    align-items: center;
    margin: 2rem 0;

    .text-container {
      .cta-title {
        padding: 0rem 4rem;
        font-size: 24px;
      }
    }

    .btn-container {
      padding: 0 3rem;
    }

    button {
      width: 200px;
    }
  }
}

@media screen and (max-width: 450px) {
  .call-to-action {
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    padding: 1rem;

    .text-container {
      .cta-title {
        padding: 0rem 2rem;
        font-size: 24px;
      }
    }

    .btn-container {
      padding: 0 1rem;
      gap: 2rem;
    }
    button {
      width: 150px;
    }
  }
}
