.table-page {
  .hero {
    margin-bottom: 4rem;
    padding: 1rem 4rem 4rem;
    background: var(--primary);
    box-shadow: var(--page-shadow);
  }

  .table {
    padding: 0 4rem;
    opacity: 0;
    animation: fadeIn 2s forwards;
    transition: all ease;
  }

  .second-section {
    margin: 2rem 0;
    padding: 4rem;
    background: var(--secondary);
  }
}

@media screen and (max-width: 920px) {
  .table-page {
    .hero {
      margin-bottom: 4rem;
      padding: 1rem 1rem 3rem;
    }

    .table {
      padding: 0 1rem;
      opacity: 0;
      animation: fadeIn 2s forwards;
      transition: all ease;
    }

    .second-section {
      margin: 2rem 0;
      padding: 4rem;
      background: var(--secondary);
    }
  }
}
