.home-page {
    .hero {
        display: flex;
        justify-content: space-between;
        background-image: url("../../../assets/images/home-img.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        box-shadow: var(--page-shadow);
        height: 100vmin;

        .text-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            top: 8%;
            left: 20%;
            width: 60%;
            padding: 2rem;
            background: rgba(217, 217, 217, 0.4);
            animation: backInDown 1s forwards;

            .title {
                font-size: 64px;
                text-align: center;
            }

            .sub-title {
                font-size: 24px;
                text-align: center;
            }

            button {
                width: 225px;
                font-weight: 900;
            }
        }
    }

    .second-section {

        .second-inner {
            margin: 2rem 0rem;
            padding: 4rem;
            box-shadow: var(--page-shadow);
            background: var(--secondary);

            .title {
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 20px;
            }

            .card-container {
                display: flex;
                justify-content: space-evenly;
                margin: 2rem;

                .card {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }

                .card-image {
                    width: 300px;
                    height: 270px;
                    object-fit: cover;
                    box-shadow: var(--global-shadow);
                }

                .text-container {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    background: var(--primary);
                    max-width: 300px;
                    padding: 1rem;
                    box-shadow: var(--global-shadow);

                    h3 {
                        text-transform: uppercase;
                    }

                    a {
                        color: var(--oposite);
                    }
                }
            }

            .firstAnim {
                animation: fadeInUp 1s forwards;
            }

            .none {
                opacity: 0;
            }
        }
    }

    .third-section {
        .third-inner {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin: 2rem 0rem;
            padding: 4rem 8rem;
            box-shadow: var(--page-shadow);
            background: var(--secondary);

            .work-container {
                display: flex;
                font-size: 48px;

                .img {
                    width: 400px;
                }

                .work-title {
                    margin: 0;
                    padding: 8rem 4rem;
                    background: var(--oposite);
                }
            }

            .about-container {
                display: flex;
                gap: 4rem;

                .about-work {
                    max-width: 600px;
                    padding: 1rem 2rem 3rem 2rem;
                    background: var(--primary);
                }

                .left {
                    animation: fadeInLeft 2s forwards;
                }

                .right {
                    animation: fadeInRight 2s forwards;
                }

                .none {
                    opacity: 0;
                }
            }
        }
    }

    .forth-section {
        .forth-inner {
            margin: 4rem;
            padding: 5rem;
            height: 300px;
            border-radius: 20px;
            background: var(--secondary);
        }

        .proof-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }
    }

    .cta {
        background: #f2f2f2;
    }
}