.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    row-gap: 50px;
    column-gap: 50px;
    padding: 1rem 3rem;
    justify-content: space-around;

    .resourceCard  {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
        gap: 20px;
        max-width: 500px;
        border: 1px solid;
        border-radius: 10px;
        padding: 2rem 3rem;
        background: var(--secondary);

        &:hover {
            transform: scale(1.05);
        }

        .icon {
            width: 100px;

        }

        button {
            width: 300px;
        }
    }
}