.tuition-page {
    .hero {
        display: flex;
        justify-content: space-between;
        box-shadow: var(--page-shadow);
        overflow: hidden;

        .textbox {
            display: flex;
            flex-direction: column;
            margin: 4rem;
            padding: 4rem 0;

            .button-container {
                display: flex;
                gap: 50px;
            }
        }

        .img-container {
            margin: 4rem 0rem;
            padding: 5rem 0;

            img {
                width: 700px;
            }
        }
    }

    .second-section {
        display: flex;
        justify-content: space-between;
        box-shadow: var(--page-shadow);
        overflow: hidden;
        background: var(--secondary);
        margin: 2rem 0;

        .textbox {
            display: flex;
            flex-direction: column;
            margin: 4rem;
            padding: 4rem 0;

            .button-container {
                display: flex;
                gap: 50px;
            }
        }
        .img-container {
            margin: 4rem;
            padding: 2rem 0;
        
            img {
                width: 500px;
                border-radius: 50%;
            }
        }

    }

    .third-section {
        .third-inner {}
    }

    .forth-section {
        .forth-inner {}
    }
}