.subject-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;

  .subjectCard {
    max-width: 375px;
    &:hover {
      transform: scale(1.1);
    }

    .title {
      padding: 1rem;
      text-align: center;
      margin: 0;
    }
  }

  .cardImg {
    max-width: 375px;
  }
}

@media screen and (max-width: 920px) {
  .subject-card-container {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;

    .subjectCard {
      max-width: 300px;
      .title {
        padding: 1rem;
        text-align: center;
        margin: 0;
      }
    }

    .cardImg {
      max-width: inherit;
    }
  }
}
