.card-container {
  display: flex;
  justify-content: space-around;

  .subjectCard {
    width: 400px;
    &:hover {
      transform: scale(1.1);
    }

    .title {
      padding: 1rem;
      text-align: center;
      margin: 0;
    }
  }

  .cardImg {
    width: inherit;
  }
}

@media screen and (max-width: 920px) {
  .card-container {
    display: flex;
    flex-direction: column;

    .subjectCard {
      width: 300px;
      .title {
        padding: 1rem;
        text-align: center;
        margin: 0;
      }
    }

    .cardImg {
      max-width: inherit;
    }
  }
}
