table {
    border-collapse: collapse;
    width: 100%;
    line-height: 2;
}

td,
th {
    border: 1px solid var(--secondary);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background: var(--secondary);
}

.header-title {
    padding: 1rem;
}
